@{
    var images = new List<string> { "~/image/8961759.jpg", "~/image/8961770.jpg", "~/image/8961807.jpg",
"~/image/8961858.jpg" };
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Slider</title>

    <style>
        #slider {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        .slider-image {
            display: none;
            max-width: 100%;
            max-height: 500px;
            width: auto;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var images = $(".slider-image");
            var currentImageIndex = 0;

            $(images[currentImageIndex]).show();

            setInterval(function () {
                $(images[currentImageIndex]).fadeOut(500, function () {
                    currentImageIndex = (currentImageIndex + 1) % images.length;
                    $(images[currentImageIndex]).fadeIn(500);
                });
            }, 5000);
        });
    </script>
</head>

<body>
    <div class="home-container">
        <h1 class="standings-header">Formula 1</h1>
        <p class="home-text">Formula 1 is the premier class of car racing where the best drivers and teams compete
            worldwide. <br> The 2023 Formula 1 season is currently underway, featuring many thrilling races on various
            circuits.</p>
        <div id="slider">
            @foreach (var image in images)
            {
                <img src="@Url.Content(image)" class="slider-image" />
            }
        </div>
    </div>
</body>

</html>
