<h1 class="standings-header">Drivers Standings</h1>


<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Team</th>
            <th>Points</th>
        </tr>
    </thead>
</table>