
<h1 class="standings-header">Standings</h1>

<div class="standings">
    <div class="standings-buttons"> 
        <a asp-controller="Standings" asp-action="TeamsStanding" class="btn btn-primary btn-lg mb-3">Teams</a>
        <a asp-controller="Standings" asp-action="DriversStanding" class="btn btn-primary btn-lg">Drivers</a>
    </div>
</div>