.headerDriver {
    background-color: #8d5050;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.headerDriver a {
    color: black;
    text-decoration: none;
}

.headerDriver a:hover {
    color: black;
    text-decoration: none;
}

.headerDriver a:active {
    color: black;
    text-decoration: none;
}

